In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# import data
data = pd.read_csv("data/HRDataset.csv")

In [ ]:
# Identify column names
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [ ]:
# view first 5 rows of your data
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [ ]:
# Here I wanted to isolate the specific columns I needed to be able to answer "Which recruitment sources are linked to higher retention rates"
retention = data[["RecruitmentSource", "Termd", "DateofTermination", "DateofHire"]]
print(retention)

     RecruitmentSource  Termd DateofTermination DateofHire
0             LinkedIn      0               NaN   7/5/2011
1               Indeed      1         6/16/2016  3/30/2015
2             LinkedIn      1         9/24/2012   7/5/2011
3               Indeed      0               NaN   1/7/2008
4        Google Search      1          9/6/2016  7/11/2011
..                 ...    ...               ...        ...
306           LinkedIn      0               NaN   7/7/2014
307      Google Search      1         9/29/2015   9/2/2008
308  Employee Referral      0               NaN  4/10/2010
309  Employee Referral      0               NaN  3/30/2015
310           LinkedIn      0               NaN  9/29/2014

[311 rows x 4 columns]

In [ ]:
# Here I wanted to save these specific columns as a CSV file for easy access
retention.to_csv('data/retention.csv', index=False)

In [ ]:
# Here I wanted to isolate the specific columns I needed to be able to answer the most common termination causes and how they vary across different factors
termination = data[["TermReason", "Department", "EmploymentStatus", "DateofTermination", "DateofHire", "PerformanceScore"]]
print(termination)

            TermReason         Department        EmploymentStatus  \
0    N/A-StillEmployed  Production                         Active
1        career change              IT/IS  Voluntarily Terminated
2                hours  Production         Voluntarily Terminated
3    N/A-StillEmployed  Production                         Active
4     return to school  Production         Voluntarily Terminated
..                 ...                ...                     ...
306  N/A-StillEmployed  Production                         Active
307   Another position  Production         Voluntarily Terminated
308  N/A-StillEmployed              IT/IS                  Active
309  N/A-StillEmployed              IT/IS                  Active
310  N/A-StillEmployed  Production                         Active

    DateofTermination DateofHire PerformanceScore
0                 NaN   7/5/2011          Exceeds
1           6/16/2016  3/30/2015      Fully Meets
2           9/24/2012   7/5/2011      Fully Meets
3                 NaN   1/7/2008      Fully Meets
4            9/6/2016  7/11/2011      Fully Meets
..                ...        ...              ...
306               NaN   7/7/2014      Fully Meets
307         9/29/2015   9/2/2008              PIP
308               NaN  4/10/2010          Exceeds
309               NaN  3/30/2015      Fully Meets
310               NaN  9/29/2014      Fully Meets

[311 rows x 6 columns]

In [ ]:
# Here I wanted to save these specific columns as a CSV file for easy access
termination.to_csv('data/termination.csv', index=False)